- name: "Verify the profile \"{{ aws.profile }}\" exists in ~/.aws/credentials"
  lineinfile:
    dest: "~/.aws/credentials"
    line: "[{{ aws_ec2_hostname.aws.profile }}]"
  check_mode: yes
  register: check_profile
  failed_when: check_profile.changed
  when: aws_ec2_hostname.tag_based
